.contenedor_logo{
    /* border: 5px solid greenyellow; */
    display:flex;
    width: 200px;
    align-items: center;
    margin-right: autos;
}
.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid red;
  }

  .windbnb{
    color: red;
    font-size: 25px;
    margin-left: 5px;
  }

  .img_logo{
    height: 25px;
  }